        
 
 
 <div class="row">

   <div class="column" *ngFor="let Profile of ProfileInfo" >
                
                <img src="{{Profile?.Profile.coverImage}}" alt="product image"/> 
        <div id="text-box"> 
                <p class="row">{{Profile?.Profile.name}}</p>
                <p class="row">{{Profile?.Profile.Email}}</p>
                <p class="row">{{Profile?.Profile.Address}}</p>
         </div>
   </div>
 </div>
 <br>
<br>
 <div class="btn"> <button class="btn" [routerLink]="['/desription']">More Info </button></div>


   