        
  <div class="row">
        <div class="column">
                <img src={{ProfileInfo?.Profile.coverImage}} alt="product image"/> 
                <p>{{ProfileInfo?.Profile.name}}</p>
                <p>{{ProfileInfo?.Profile.Email}}</p>
                <p>{{ProfileInfo?.Profile.Address}}</p>
                <button class="btn">More Info </button>
        </div>
        <div class="column">
                <img src={{ProfileInfo?.Profile.coverImage}} alt="product image"/> 
                <p>{{ProfileInfo?.Profile.name}}</p>
                <p>{{ProfileInfo?.Profile.Email}}</p>
                <p>{{ProfileInfo?.Profile.Address}}</p>
                <button class="btn">More Info </button>
        </div>
        <div class="column">
                <img src={{ProfileInfo?.Profile.coverImage}} alt="product image"/> 
                <p>{{ProfileInfo?.Profile.name}}</p>
                <p>{{ProfileInfo?.Profile.Email}}</p>
                <p>{{ProfileInfo?.Profile.Address}}</p>
                <button class="btn">More Info </button>
        </div>
      </div>

   